# Test task #1

### Tableau Workbook on the link below:
https://drive.google.com/file/d/17VdelhivhrZuhB8dUEON92evNqgyTRn1/view?usp=share_link

# Test task #2

## 1. Кількість клієнтів для кожної країни з телефонним номером

``` mysql
SELECT
    CUST.CUST_COUNTRY,
    COUNT(DISTINCT CUST.CUST_ID) AS CUSTOMER_COUNT
FROM
    CUSTOMER CUST
JOIN
    AGENT AG
    ON CUST.AGENT_ID = AG.AGENT_ID
WHERE
    CUST.PHONE_NO IS NOT NULL
GROUP BY
    CUST.CUST_COUNTRY
```

## 2. Кількість клієнтів, зробивших своє перше замовлення у серпні 2020 року:

``` mysql
SELECT
    COUNT(DISTINCT CUST.CUST_ID) AS FIRST_TIME_CUSTOMERS
FROM
    CUSTOMER CUST
JOIN
    ORDERS ORD
    ON CUST.CUST_ID = ORD.CUST_ID
WHERE
    ORD.ORD_DATE >= '2020-08-01' AND ORD.ORD_DATE < '2020-09-01' AND
    NOT EXISTS (
        SELECT 1
        FROM ORDERS
        WHERE CUST.CUST_ID = ORDERS.CUST_ID AND ORDERS.ORD_DATE < '2020-08-01'
    )
```

## 3. Загальна сума замовлень від покупців з України (ORD_AMOUNT):

``` mysql
SELECT
    SUM(ORD.ORD_AMOUNT) AS TOTAL_ORDER_AMOUNT_UKRAINE
FROM
    CUSTOMER CUST
JOIN
    ORDERS ORD
    ON CUST.CUST_ID = ORD.CUST_ID
WHERE
    CUST.CUST_COUNTRY = 'UA'
```

## 4. Кількість унікальних ORD_NAME для агента 'James Blond' з покупцем 'Jack White':

``` mysql
SELECT
    COUNT(DISTINCT ORD.ORD_NAME) AS UNIQUE_ORDERS_COUNT
FROM
    AGENT A
JOIN
    CUSTOMER C
    ON A.AGENT_ID = C.AGENT_ID
JOIN
    ORDERS ORD
    ON C.CUST_ID = ORD.CUST_ID
WHERE
    A.AGENT_NAME = 'James Blond' AND
    C.CUST_NAME = 'Jack White';
```

## 5. Топ-3 найпопулярніших ORD_NAME по кількості замовлень та суммі

``` mysql
SELECT
    ORD_NAME,
    COUNT(*) AS ORDER_COUNT,
    SUM(ORD_AMOUNT) AS TOTAL_AMOUNT
FROM
    ORDERS
GROUP BY
    ORD_NAME
ORDER BY
    ORDER_COUNT DESC, TOTAL_AMOUNT DESC
LIMIT 3;
```

## 6. Кількість покупців, які зробили мінімум 5 покупок від 300 доларів кожна за 2020 рік і у них немає жодної покупки у 2021 році

``` mysql
SELECT
    COUNT(DISTINCT CUST.CUST_ID) AS CUSTOMER_COUNT
FROM
    CUSTOMER CUST
JOIN
    ORDERS ORD_2020
    ON CUST.CUST_ID = ORD_2020.CUST_ID
WHERE
    ORD_2020.ORD_DATE >= '2020-01-01' AND ORD_2020.ORD_DATE < '2021-01-01' AND
    ORD_2020.ORD_AMOUNT >= 300 AND
    (
        SELECT COUNT(*)
        FROM ORDERS ORD_2021
        WHERE CUST.CUST_ID = ORD_2021.CUST_ID AND ORD_2021.ORD_DATE >= '2021-01-01'
    ) = 0
GROUP BY
    CUST.CUST_ID
HAVING
    COUNT(DISTINCT ORD_2020.ORD_ID) >= 5;
```

## 6. Кількість покупців, які зробили мінімум 5 покупок від 300 доларів кожна за 2020 рік і у них немає жодної покупки у 2021 році

``` mysql
SELECT
    COUNT(DISTINCT CUST.CUST_ID) AS CUSTOMER_COUNT
FROM
    CUSTOMER CUST
JOIN
    ORDERS ORD_2020
    ON CUST.CUST_ID = ORD_2020.CUST_ID
WHERE
    ORD_2020.ORD_DATE >= '2020-01-01' AND ORD_2020.ORD_DATE < '2021-01-01' AND
    ORD_2020.ORD_AMOUNT >= 300 AND
    (
        SELECT COUNT(*)
        FROM ORDERS ORD_2021
        WHERE CUST.CUST_ID = ORD_2021.CUST_ID AND ORD_2021.ORD_DATE >= '2021-01-01'
    ) = 0
GROUP BY
    CUST.CUST_ID
HAVING
    COUNT(DISTINCT ORD_2020.ORD_ID) >= 5;
```

## 7. Кількість покупців, у яких сума першої покупки більше 1000 доларів

``` mysql
SELECT
    COUNT(DISTINCT CUST.CUST_ID) AS CUSTOMER_COUNT
FROM
    CUSTOMER CUST
JOIN (
    SELECT
        CUST_ID,
        MIN(ORD_DATE) AS FIRST_ORDER_DATE
    FROM
        ORDERS
    GROUP BY
        CUST_ID
) FIRST_ORDERS
ON
    CUST.CUST_ID = FIRST_ORDERS.CUST_ID
JOIN
    ORDERS ORD
ON
    CUST.CUST_ID = ORD.CUST_ID AND FIRST_ORDERS.FIRST_ORDER_DATE = ORD.ORD_DATE
WHERE
    ORD.ORD_AMOUNT > 1000;
```

## 8. Середню кількість і суму замовлень по понеділкам 2020 року

``` mysql
SELECT
    DAYOFWEEK(ORD_DATE) AS DAY_OF_WEEK,
    COUNT(*) AS ORDER_COUNT,
    SUM(ORD_AMOUNT) AS TOTAL_AMOUNT,
    AVG(ORD_AMOUNT) AS AVERAGE_AMOUNT
FROM
    ORDERS
WHERE
    YEAR(ORD_DATE) = 2020 AND DAYOFWEEK(ORD_DATE) = 2
GROUP BY
    DAY_OF_WEEK;
```

## 9. Кількість агентів із замовленнями за період 01.01.2020 - 30.01.2020

``` mysql
SELECT
    COUNT(DISTINCT AGENT.AGENT_ID) AS AGENT_COUNT
FROM
    AGENT
JOIN
    ORDERS
    ON AGENT.AGENT_ID = ORDERS.AGENT_ID
WHERE
    ORDERS.ORD_DATE >= '2020-01-01' AND ORDERS.ORD_DATE <= '2020-01-30';
```

## 10. Привести телефонні номери до єдиного формату (у полі PHONE_NO номери можуть бути вказані таким чином

``` mysql
UPDATE CUSTOMER
SET PHONE_NO = CONCAT('+380', SUBSTRING(PHONE_NO, -9))
WHERE PHONE_NO NOT LIKE '+380%';
```