# SQL query #1

``` mysql
SELECT
  o.service_id,
  o.user_segment,
  pd.fuel_id,
  COUNT(o.order_id) AS total_orders,
  COUNT(p.payment_item_id) AS total_payments,
  CAST(COUNT(p.payment_item_id) AS FLOAT) / COUNT(o.order_id) AS conversion,
  SUM(p.amount) / COUNT(DISTINCT o.order_id) AS ARPO
FROM
  orders o
  LEFT JOIN payments p ON o.order_id = p.order_id
  INNER JOIN proposal_detail pd ON o.proposal_id = pd.proposal_id
WHERE
  o.created_at >= NOW() - INTERVAL '30 days'
GROUP BY
  o.service_id,
  o.user_segment,
  pd.fuel_id;
```

# SQL query #2

``` mysql
SELECT
  o.service_id,
  o.user_segment,
  pd.fuel_id,
  COUNT(o.order_id) AS total_orders,
  COUNT(p.payment_item_id) AS total_payments,
  CAST(COUNT(p.payment_item_id) AS FLOAT) / COUNT(o.order_id) AS conversion,
  SUM(p.amount) / COUNT(DISTINCT o.order_id) AS ARPO
FROM
  orders o
  LEFT JOIN payments p ON o.order_id = p.order_id
  INNER JOIN proposal_detail pd ON o.proposal_id = pd.proposal_id
WHERE
  o.created_at >= NOW() - INTERVAL '30 days'
GROUP BY
  o.service_id,
  o.user_segment,
  pd.fuel_id;
```

# SQL query #3

``` mysql
SELECT
  pd.state_id,
  pd.transport_type_id,
  CAST(COUNT(p.payment_item_id) AS FLOAT) / COUNT(o.order_id) AS conversion_rate
FROM
  proposal_detail pd
JOIN
  orders o ON pd.proposal_id = o.proposal_id
LEFT JOIN
  payments p ON o.order_id = p.order_id AND p.created_at BETWEEN o.created_at AND o.created_at + INTERVAL '30 days'
WHERE
  o.created_at >= CURRENT_DATE - INTERVAL '30 days'
GROUP BY
  pd.state_id, pd.transport_type_id
ORDER BY
  pd.state_id, conversion_rate DESC;

```